.white {
  color: #FFFFFF; }

.very-light-gray {
  color: #F8F9F9; }

.light-gray {
  color: #B8BDC4; }

.gray {
  color: #7E838A; }

.dark-gray {
  color: #27292D; }

.very-dark-gray {
  color: #17191C; }

.black {
  color: #000000; }

.white:hover {
  color: #cccccc; }

.very-light-gray:hover {
  color: #c1caca; }

.light-gray {
  color: #B8BDC4; }

.gray {
  color: #7E838A; }

.dark-gray {
  color: #27292D; }

.very-dark-gray {
  color: #17191C; }

.black {
  color: #000000; }

.white-background {
  background-color: #FFFFFF; }

.very-light-gray-background {
  background-color: #F8F9F9; }

.blue-background {
  background-color: #5D9CEC; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.bold {
  font-weight: 700; }

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px; }

.fw4 {
  font-weight: 400; }

.left {
  float: left; }

.right {
  float: right; }

.of-hidden {
  overflow: hidden; }

.margin-0 {
  margin: 0px; }

.margin-1 {
  margin: 10px; }

.margin-2 {
  margin: 20px; }

.margin-3 {
  margin: 30px; }

.margin-4 {
  margin: 40px; }

.margin-5 {
  margin: 50px; }

.margin-top-0 {
  margin-top: 0px; }

.margin-top-1 {
  margin-top: 10px; }

.margin-top-2 {
  margin-top: 20px; }

.margin-top-3 {
  margin-top: 30px; }

.margin-top-4 {
  margin-top: 40px; }

.margin-top-5 {
  margin-top: 50px; }

.margin-right-0 {
  margin-right: 0px; }

.margin-right-1 {
  margin-right: 10px; }

.margin-right-2 {
  margin-right: 20px; }

.margin-right-3 {
  margin-right: 30px; }

.margin-right-4 {
  margin-right: 40px; }

.margin-right-5 {
  margin-right: 50px; }

.margin-bottom-0 {
  margin-bottom: 0px; }

.margin-bottom-1 {
  margin-bottom: 10px; }

.margin-bottom-2 {
  margin-bottom: 20px; }

.margin-bottom-3 {
  margin-bottom: 30px; }

.margin-bottom-4 {
  margin-bottom: 40px; }

.margin-bottom-5 {
  margin-bottom: 50px; }

.margin-left-0 {
  margin-left: 0px; }

.margin-left-1 {
  margin-left: 10px; }

.margin-left-2 {
  margin-left: 20px; }

.margin-left-3 {
  margin-left: 30px; }

.margin-left-4 {
  margin-left: 40px; }

.margin-left-5 {
  margin-left: 50px; }

.padding-0 {
  padding: 0px; }

.padding-1 {
  padding: 10px; }

.padding-2 {
  padding: 20px; }

.padding-3 {
  padding: 30px; }

.padding-4 {
  padding: 40px; }

.padding-5 {
  padding: 50px; }

.padding-top-0 {
  padding-top: 0px; }

.padding-top-1 {
  padding-top: 10px; }

.padding-top-2 {
  padding-top: 20px; }

.padding-top-3 {
  padding-top: 30px; }

.padding-top-4 {
  padding-top: 40px; }

.padding-top-5 {
  padding-top: 50px; }

.padding-right-0 {
  padding-right: 0px; }

.padding-right-1 {
  padding-right: 10px; }

.padding-right-2 {
  padding-right: 20px; }

.padding-right-3 {
  padding-right: 30px; }

.padding-right-4 {
  padding-right: 40px; }

.padding-right-5 {
  padding-right: 50px; }

.padding-bottom-0 {
  padding-bottom: 0px; }

.padding-bottom-1 {
  padding-bottom: 10px; }

.padding-bottom-2 {
  padding-bottom: 20px; }

.padding-bottom-3 {
  padding-bottom: 30px; }

.padding-bottom-4 {
  padding-bottom: 40px; }

.padding-bottom-5 {
  padding-bottom: 50px; }

.padding-left-0 {
  padding-left: 0px; }

.padding-left-1 {
  padding-left: 10px; }

.padding-left-2 {
  padding-left: 20px; }

.padding-left-3 {
  padding-left: 30px; }

.padding-left-4 {
  padding-left: 40px; }

.padding-left-5 {
  padding-left: 50px; }

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Usual", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif !important; }

p {
  line-height: 30px !important; }

h5 {
  margin: 0;
  color: #5D9CEC;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px; }

#banner {
  height: 100vh;
  padding: 20% 0px; }
  #banner .quarry-logo {
    width: 150px; }
  #banner h1 {
    color: #FFFFFF;
    letter-spacing: 1px; }
  #banner p {
    color: #F8F9F9;
    font-size: 18px; }
  #banner .vert-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  #banner button {
    margin-top: 30px;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 14px; }
  #banner button:hover {
    color: white; }

#companies .company-wrapper {
  overflow: visible; }
  #companies .company-wrapper .company {
    min-height: 380px;
    margin: 20px 0px;
    background-color: #FFFFFF;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: visible; }
    #companies .company-wrapper .company img {
      border-bottom: 2px solid #F8F9F9;
      width: 100%;
      margin: 0px;
      padding: 0px;
      border-radius: 5px 5px 0px 0px;
      -moz-border-radius: 5px 5px 0px 0px;
      -webkit-border-radius: 5px 5px 0px 0px; }
  #companies .company-wrapper .company:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    overflow: visible; }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #companies .company-wrapper .company {
      height: 460px !important; } }

.company-copy {
  padding: 20px; }
  .company-copy h1 {
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .company-copy h1 span {
      font-size: 16px;
      color: #ED5565; }
  .company-copy span {
    margin-bottom: 30px;
    font-size: 13px;
    color: #B8BDC4; }
  .company-copy p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400; }

#about {
  border-top: 1px solid #eaeded; }
  #about .about-copy img {
    border-radius: 50%; }
  #about .about-copy h2 {
    margin-top: 0px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px; }
  #about .about-copy span {
    margin-bottom: 30px;
    font-size: 13px;
    color: #B8BDC4; }
  #about .about-copy a:hover {
    text-decoration: underline; }
  @media only screen and (max-width: 60em) {
    #about .about-copy .about-copy {
      float: left; } }

.contact-div .contact {
  padding: 15px 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.contact-div .contact:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.contact-div span {
  font-size: 12px !important;
  color: white; }

#footer {
  margin-top: 50px !important; }
  #footer span {
    font-size: 12px; }
  #footer .open-source {
    color: #ED5565 !important; }

.0-50 {
  opacity: 0.5; }

.social-link {
  color: #B8BDC4 !important;
  font-weight: 700; }

.shop-drones-link {
  color: #FB4B4B !important;
  font-weight: 700; }

.sogol-link {
  color: #C1A070 !important;
  font-weight: 700; }

.crag-link {
  color: #BA5C49 !important;
  font-weight: 700; }

.calligritype-link {
  color: #000000 !important;
  font-weight: 700; }

.illustree-link {
  color: #73AE51 !important;
  font-weight: 700; }

.prisma-link {
  color: #F6A35A !important;
  font-weight: 700; }

.much-clean-link {
  color: #27292D !important;
  font-weight: 700; }

.fieldy-link {
  color: #AF9D6A !important;
  font-weight: 700; }

.dennis-cortes-link {
  color: #D2C193 !important;
  font-weight: 700; }

.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg); }

@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

div#banner {
  -webkit-transition: background-color ease-in-out 1s;
  transition: background-color ease-in-out 1s; }

div#banner button {
  color: white;
  outline: none; }
