// Custom Styles

// See Gulpfile.js to use this Sass file and use gulp compilation

@import "helpers.scss";

// Custom Styles

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body { font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif; }

p { line-height: 30px !important; }

h5 {
  margin: 0;
  color: $black;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}


#banner {
  height: 100vh;
  padding: 20% 0px;
  .quarry-logo {
    width: 150px;
  }
  h1 {
    color: $white;
    letter-spacing: 1px;
  }
  p { color: $white; }
  .vert-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

#companies {
  .company-wrapper {
    .company {
      min-height: 380px;
      margin: 20px 0px;
      background-color: $white;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 1px 3px rgba($black, 0.1);
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      img {
        border-bottom: 2px solid $very-light-gray;
        width: 100%;
        margin: 0px;
        padding: 0px;
        border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
      }
    }
    .company:hover {
      box-shadow: 0px 10px 30px rgba($black, 0.1);
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      -webkit-transform: scale(1.02, 1.02);
      transform: scale(1.02, 1.02);
    }
  }
}

.company-copy {
  padding: 20px;
  h1 {
    margin: 0;
    color: $black;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  span {
    margin-bottom: 30px;
    font-size: 13px;
    color: $light-gray;
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $gray;
  }
}


#about {
  border-top: 1px solid darken($very-light-gray, 5%);
  .about-copy {
    img {
      border-radius: 50%;
    }
    h2 {
      margin-top: 0px;
      color: $black;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    span {
      margin-bottom: $three;
      font-size: 13px;
      color: $light-gray;
    }
    p { color: $gray; }
    a:hover { text-decoration: underline; }

    @media only screen and (max-width: 60em) {
      .about-copy {
        float: left;
      }
    }
  }
}

.contact-div {
  .contact {
    background-color: $white;
    padding: 15px 30px;
    box-shadow: 0px 2px 5px rgba($black, 0.1);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .contact:hover {
    box-shadow: 0px 10px 30px rgba($black, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  span {
    font-size: 12px !important;
  }
}


#footer {
  span {
    font-size: 12px;
  }
}

// Link Colors
.social-link          { color: $light-gray !important; }
.shop-drones-link     { color: #FB4B4B !important; }
.calligritype-link    { color: #000000 !important; }
.illustree-link       { color: #73AE51 !important; }
.prisma-link          { color: #F6A35A !important; }
.much-clean-link      { color: #27292D !important; }
.more-food-link       { color: #7F7F7F !important; }
.dennis-cortes-link   { color: #D2C193 !important; }
