// GLOBAL STYLES

// See Gulpfile.js to use this Sass file and use gulp compilation

// - - - - - Table of Contents - - - - -

// All classes are "helper" classes besides Custom Styles
// Helper classes will help you reduce the amount of custom code you need to write
  // Use helper classes as needed
// Custom classes were made for Quarry needs
  // Feel free to dissect and change custom classes as needed

// a. Colors
// b. Backgrounds
// c. Typography
// d. Floats
// e. Measurements
// f. Margin
// g. Padding
// h. Custom Styles

// - - - - - End Table of Contents - - - - -


// a. Colors
  // Change these variables to suit your needs and color palette
  // Will affect other global settings

// Neutral
$white: #FFFFFF;
$very-light-gray: #F8F9F9;
$light-gray: #B8BDC4;
$gray: #7E838A;
$dark-gray: #27292D;
$very-dark-gray: #17191C;
$black: #000000;

// Color
$cyan: #4DCBD2;
$blue: #5D9CEC;
$purple: #AC92EC;
$green: #A0D468;
$red: #ED5565;
$orange: #FCA551;
$yellow: #FFCE54;


// b. Backgrounds
.white-background { background-color: $white; }
.very-light-gray-background { background-color: $very-light-gray; }


// c. Typography
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

// d. Floats
.left { float: left; }
.right { float: right; }
.of-hidden { overflow: hidden; }


// e. Measurements
  // Used for global sizes
  // Change these values as needed
  // I prefer to work in increments of 10px
$zero: 0px;
$one: 10px;
$two: 20px;
$three: 30px;
$four: 40px;
$five: 50px;


// f. Margin
  // If not needed, comment out for later or delete
.margin-0 { margin: $zero; }
.margin-1 { margin: $one; }
.margin-2 { margin: $two; }
.margin-3 { margin: $three; }
.margin-4 { margin: $four; }
.margin-5 { margin: $five; }

.margin-top-0 { margin-top: $zero; }
.margin-top-1 { margin-top: $one; }
.margin-top-2 { margin-top: $two; }
.margin-top-3 { margin-top: $three; }
.margin-top-4 { margin-top: $four; }
.margin-top-5 { margin-top: $five; }

.margin-right-0 { margin-right: $zero; }
.margin-right-1 { margin-right: $one; }
.margin-right-2 { margin-right: $two; }
.margin-right-3 { margin-right: $three; }
.margin-right-4 { margin-right: $four; }
.margin-right-5 { margin-right: $five; }

.margin-bottom-0 { margin-bottom: $zero; }
.margin-bottom-1 { margin-bottom: $one; }
.margin-bottom-2 { margin-bottom: $two; }
.margin-bottom-3 { margin-bottom: $three; }
.margin-bottom-4 { margin-bottom: $four; }
.margin-bottom-5 { margin-bottom: $five; }

.margin-left-0 { margin-left: $zero; }
.margin-left-1 { margin-left: $one; }
.margin-left-2 { margin-left: $two; }
.margin-left-3 { margin-left: $three; }
.margin-left-4 { margin-left: $four; }
.margin-left-5 { margin-left: $five; }


// g. Padding
  // If not needed, comment out for later or delete
.padding-0 { padding: $zero; }
.padding-1 { padding: $one; }
.padding-2 { padding: $two; }
.padding-3 { padding: $three; }
.padding-4 { padding: $four; }
.padding-5 { padding: $five; }

.padding-top-0 { padding-top: $zero; }
.padding-top-1 { padding-top: $one; }
.padding-top-2 { padding-top: $two; }
.padding-top-3 { padding-top: $three; }
.padding-top-4 { padding-top: $four; }
.padding-top-5 { padding-top: $five; }

.padding-right-0 { padding-right: $zero; }
.padding-right-1 { padding-right: $one; }
.padding-right-2 { padding-right: $two; }
.padding-right-3 { padding-right: $three; }
.padding-right-4 { padding-right: $four; }
.padding-right-5 { padding-right: $five; }

.padding-bottom-0 { padding-bottom: $zero; }
.padding-bottom-1 { padding-bottom: $one; }
.padding-bottom-2 { padding-bottom: $two; }
.padding-bottom-3 { padding-bottom: $three; }
.padding-bottom-4 { padding-bottom: $four; }
.padding-bottom-5 { padding-bottom: $five; }

.padding-left-0 { padding-left: $zero; }
.padding-left-1 { padding-left: $one; }
.padding-left-2 { padding-left: $two; }
.padding-left-3 { padding-left: $three; }
.padding-left-4 { padding-left: $four; }
.padding-left-5 { padding-left: $five; }



// - - - - - End Helper Classes - - - - -



// h. Custom Styles

html, body { height: 100%; }

body { font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif; }

p { line-height: 30px; }

h5 {
  margin: 0;
  color: $black;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}


#banner {
  height: 100vh;
  padding: 20% 0px;
  .quarry-logo {
    width: 150px;
  }
  h1 {
    color: $white;
    letter-spacing: 1px;
  }
  p { color: $white; }
  .vert-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

#companies {
  .company-wrapper {
    .company {
      min-height: 380px;
      margin: 20px 0px;
      background-color: $white;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 1px 3px rgba($black, 0.1);
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      img {
        border-bottom: 2px solid $very-light-gray;
        width: 100%;
        margin: 0px;
        padding: 0px;
        border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
      }
    }
    .company:hover {
      box-shadow: 0px 10px 30px rgba($black, 0.1);
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      -webkit-transform: scale(1.02, 1.02);
      transform: scale(1.02, 1.02);
    }
  }
}

.company-copy {
  padding: 20px;
  h1 {
    margin: 0;
    color: $black;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  span {
    margin-bottom: 30px;
    font-size: 13px;
    color: $light-gray;
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $gray;
  }
}


#about {
  border-top: 1px solid darken($very-light-gray, 5%);
}

.about-copy {
  padding: 0 $five !important;
  h1 {
    margin-top: $three;
    color: $black;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  span {
    margin-bottom: $three;
    font-size: 13px;
    color: $light-gray;
  }
  p { color: $gray; }
}

// Link Colors
.social-link          { color: $light-gray !important; }
.shop-drones-link     { color: #FB4B4B !important; }
.calligritype-link    { color: #000000 !important; }
.illustree-link       { color: #73AE51 !important; }
.prisma-link          { color: #F6A35A !important; }
.much-clean-link      { color: #27292D !important; }
.more-food-link       { color: #7F7F7F !important; }
.dennis-cortes-link   { color: #D2C193 !important; }
